
.example-spacer {
    flex: 1 1 auto;
  }

  .example-icon {
    background-color: #f5f5f5;
  }
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/